
.container {
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container-app {
  padding: 30px;
}

.container-header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 5px;
  font-size: 3em;
  padding: 5px;
  font-variant: small-caps;
  text-shadow: 2px 2px 3px gray;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
